<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/createUser">Create User</a>
  </div>
  <form class="form" action="/update-user" method="post">
    <fieldset class="fieldset">
     <legend>User:</legend>
     <div class="d-none">
      <label for="id">Id:</label>
      <input type="text" id="id" name="userId"  value="<%= user.id %>"><br><br>
     </div>
     <label for="fname">Full name:</label>
     <input type="text" id="fname" name="fname"  value="<%= user.name %>"><br><br>
     <label for="email">Email:</label>
     <input type="email" id="email" name="email" value="<%= user.emdil %>"><br><br>
     <label for="city">City:</label>
     <input type="text" id="city" name="city"  value="<%= user.city %>"><br><br>
     <input type="submit" value="Submit">
    </fieldset>
  </form>
</body>
</html>